<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="" method="POST">
            <input type="text" name="uuid">
            <input type="submit" name="reg_form" value="send"><br>
            <select name="chiptype" id="chiptype" multiple onchange="" size="8">
                <option value="temp">Temperature</option>
                <option value="hum">Humidity</option>
                <option value="cam">Camera</option>
            </select>
            <input type="checkbox" name="is_update" value="update">
        </form>
    </body>
</html>
