<!DOCTYPE html>
<html lang="en">
    <body>
        <form action="" method="POST">
            <input type="number" name="uuid" size="10" placeholder="UUID"><br>
            <select name="pertype" id="pertype" multiple onchange="" size="5">
                <option value="temperature">Temperature</option>
                <option value="humidity">Humidity</option>
                <option value="camera">Camera</option>
                <option value="printer">Printer</option>
                <option value="infrared">Infrared</option>
            </select><br>
            Update <input type="checkbox" name="is_update" value="update"><br>
            <input type="submit" name="reg_form" value="register"><br>
        </form>
    </body>
</html>
